.blue{
	color: #507299;
}
.myForm{
	border: 1px solid;
	border-radius: 6px;
	height: auto;
}
.topDown{
	margin-top: 10px;
	margin-bottom: 10px;  
}
.date, .number, .info, .message{
	min-height: 50px;
}